absl-py==1.1.0
anyio==3.6.1
apache-beam==2.53.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
astor==0.7.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
autograd==1.4
autograd-gamma==0.5.0
backcall==0.2.0
beautifulsoup4==4.10.0
bidict==0.22.0
bleach==4.1.0
booty==0.3.0
boto3==1.26.130
botocore==1.29.130
Brotli==1.0.9
cachetools==5.2.0
cassandra-driver==3.25.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.2.1
crcmod==1.7
cycler==0.11.0
dash==0.29.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.1.1
distlib==0.3.6
Django==4.2.8
django-cors-headers==4.3.1
django-ratelimit==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dnspython==2.4.2
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastapi==0.78.0
fastavro==1.9.2
fasteners==0.19
filelock==3.8.0
Flask==2.2.2
Flask-Compress==1.13
flatbuffers==1.12
fonttools==4.30.0
formulaic==0.3.3
future==0.18.2
gast==0.4.0
gcloud==0.18.3
geomet==0.2.1.post1
google-api-core==2.15.0
google-api-python-client==2.112.0
google-apitools==0.5.31
google-auth==2.26.1
google-auth-httplib2==0.1.1
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-aiplatform==1.38.1
google-cloud-bigquery==3.14.1
google-cloud-bigquery-storage==2.24.0
google-cloud-bigtable==2.22.0
google-cloud-core==2.3.2
google-cloud-datastore==2.19.0
google-cloud-dlp==3.14.0
google-cloud-language==2.6.0
google-cloud-pubsub==2.19.0
google-cloud-pubsublite==1.9.0
google-cloud-recommendations-ai==0.10.6
google-cloud-resource-manager==1.11.0
google-cloud-spanner==3.40.1
google-cloud-storage==2.14.0
google-cloud-videointelligence==2.12.0
google-cloud-vision==3.5.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.56.4
graphviz==0.20
grpc-google-iam-v1==0.13.0
grpcio==1.60.0
grpcio-status==1.49.1
gunicorn==20.1.0
h11==0.13.0
h5py==3.7.0
hdfs==2.7.3
httplib2==0.20.4
idna==3.3
importlib-metadata==4.12.0
intelhex==2.3.0
interface-meta==1.3.0
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.1.0
Js2Py==0.74
jsonpickle==3.0.2
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.4
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
kaggle==1.5.12
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.0
libclang==14.0.1
lifelines==0.27.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==9.0.0
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
netifaces==0.10.6
nltk==3.7
notebook==6.4.10
numpy==1.22.3
oauth2client==4.1.3
oauthlib==3.2.0
objsize==0.6.1
opencv-python==4.6.0.66
opendatasets==0.1.22
openpyxl==3.0.9
opt-einsum==3.3.0
orjson==3.9.10
outcome==1.2.0
overrides==7.4.0
packaging==23.2
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.2
plotly==5.9.0
pluggy==0.13.1
prometheus-client==0.13.1
prompt-toolkit==3.0.28
proto-plus==1.23.0
protobuf==4.25.1
psutil==5.9.0
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pydot==1.4.2
pydot-ng==2.0.0
pydotplus==2.0.2
pyenchant==3.2.2
Pygments==2.11.2
pyjsparser==2.7.1
PyJWT==2.8.0
pymongo==4.6.1
PyOpenGL==3.1.6
pyparsing==3.0.7
pypyr==5.5.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.18.1
pyserial==3.5
pytest==5.4.3
pytest-trio==0.6.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-engineio==4.3.4
python-rtmidi==1.4.9
python-slugify==6.1.2
python-socketio==5.7.2
pytz==2021.3
pyzmq==22.3.0
qtconsole==5.3.1
QtPy==2.1.0
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
roverpro==1.0.1
rsa==4.8
rtmidi==2.3.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
shapely==2.0.2
six==1.16.0
sniffio==1.2.0
socketio==0.2.1
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.4
stack-data==0.2.0
starlette==0.19.1
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
text-unidecode==1.3
threadpoolctl==3.1.0
tomli==2.0.1
tomli_w==1.0.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
trio==0.16.0
tweepy==4.10.1
typing_extensions==4.9.0
tzlocal==5.2
uritemplate==4.1.1
urllib3==1.26.10
uvicorn==0.18.2
virtualenv==20.16.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==3.6.1
wordcloud==1.8.2.2
wrapt==1.14.0
zipp==3.8.0
zstandard==0.22.0
