<div class="credits-content">
    <h1><a routerLink="/">ntwrkfy:credits</a></h1>
    <p>One of our key endeavors is to analyze and understand the connection between listeners and their top artists. By examining listening habits, preferences, and trends, we gain valuable insights into the unique relationships individuals forge with the music they love. Through data-driven exploration, we aim to illuminate the diverse influences and inspirations that shape musical journeys, ultimately enriching the listening experience for music enthusiasts worldwide.</p>
    <br><h5>spotify api</h5>
    <p>Ever wondered how your musical tastes connect and overlap? With <b>ntwkrfy</b>, you can visualize your top Spotify artists in a dynamic, interactive network. Each artist is represented as a node, and their connections are displayed as edges in a weighted undirected network. Through intuitive visualizations, you'll gain insights into the intricate web of musical influences that shape your listening experience.</p>
    <br><h5>d3.js</h5>
    <ul>
        <li><b>Connect Your Spotify Account:</b> Simply connect your Spotify account to our platform to access your listening data securely.</li>
        <li><b>Explore Your Network:</b> Dive into your personalized network visualization, where each node represents a top artist and each edge signifies a connection based on shared listenership.</li>
        <li><b>Discover Insights: </b>Explore the connections between your favorite artists, discover new artists you might enjoy, and gain a deeper appreciation for the diverse influences shaping your musical taste.
        </li>
    </ul>
</div>