<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="login-container d-flex flex-column">
        <h2 class="title">ntwrkfy.</h2>
        <p class="description">> visualize your top spotify artists in a weighted undirected network&nbsp;</p>
        <p class="description">> identify connections and similarities between your top artists&nbsp;</p>
        <button class="sign-in-button" (click)="loginSpotify()">sign in with spotify</button>
    </div>
</div>
<footer class="d-flex justify-content-left align-items-center">
    <div class="d-flex flex-column">
        <p><img src="./assets/spotify_logo.png" width="50" style="justify-content: right;"> Powered by the Spotify API</p>
        <a href="url">about</a>
        <a href="url">credits</a>
        <a href="url">team</a>
    </div>
</footer>