.overlay-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items:  flex-end;
    justify-content: flex-end;
    text-align: right;
    /* z-index: 1000; Ensure it's above other elements */
    background-color: transparent;
  }
  
  .overlay-buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }


  .legend-label {
    font-size: 16px;
    background-color: transparent;
    color: black;
    text-align: right;
    padding: 3px;
    margin-bottom: 5px;
    font-weight: 100;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .selected-genre {
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: right;
    padding: 3px;
    margin-bottom: 5px;
    font-weight: 100;
    border: none;
    cursor: pointer;
  }
  
  .legend-label:hover {
    background-color: #000000;
    color: white;
  }

  .color {
    width: 16px;
    height: 16px;
  }

/* Media query for small screens */
@media screen and (max-width: 600px) {
  /* TEMPORARY */
  .overlay-container {
    display: none;
  }
  
  .legend-label {
    font-size: 12px; 
    padding: 0px;
    margin-bottom: 0px;
  }

  .color {
    width: 12px;
    height: 12px;
  }
}
  
/* Additional media queries for even smaller screens if needed */
@media screen and (max-width: 400px) {
  /* TEMPORARY */
  .overlay-container {
    display: none;
  }

  .legend-label {
    font-size: 12px; /* Adjust the value based on your preference */
    padding: 0px;
    margin-bottom: 0px;
  }

  .color {
    width: 12px;
    height: 12px;
  }
}