.overlay-container {
    position: fixed;
    top: 20px;
    left: 5;
    display: flex;
    align-items:  flex-start;
    justify-content: flex-start;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: transparent;
  }
  
  .overlay-buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: transparent;
  }


  .text-button {
    font-size: 18px;
    background-color: transparent;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    font-weight: 100;
    transition: background-color 0.3s ease;
  }
  
  .text-button:hover {
    background-color: #000000;
    color: white;
  }

  .profile-button {
    background-color: transparent;
    font-size: 25px;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    font-weight: 100;
    transition: background-color 0.3s ease;
  }

  .profile-button:hover {
    background-color: #000000;
    color: white;
  }

/* Media query for small screens */
@media screen and (max-width: 600px) {
  .overlay-container {
    position: fixed;
    top: 5px;
    left: 5px;
    display: flex;
    align-items:  flex-start;
    justify-content: flex-start;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: white;
    border: 0.5px solid black;
  }

  .overlay-buttons {
    padding: 5px;
  }

  .profile-button {
    font-size: 20px;
  }

  .text-button {
    font-size: 12px; /* Adjust the value based on your preference */
    margin-bottom: 1px;
  }
}
  
/* Additional media queries for even smaller screens if needed */
@media screen and (max-width: 400px) {
  .overlay-container {
    position: fixed;
    top: 5x;
    left: 5px;
    display: flex;
    align-items:  flex-start;
    justify-content: flex-start;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: white;
    border: 0.5px solid black;
  }

  .overlay-buttons {
    padding: 2px;
  }

  .profile-button {
    font-size: 16px;
  }

  .text-button {
    font-size: 10px; /* Adjust the value based on your preference */
    margin-bottom: 1px;
  }
}